html {
  scroll-behavior: smooth;
}
body {
  background-color: rgba(0, 11, 172, 0.425);
}
.body {
  padding: 0px;
}
.corpo {
  background-color:rgb(255, 255, 255);
  padding-top: 2rem;
}
.banner {
  margin: 0px;
}
section{
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100vh;
}
.titulo{
  color:#8c52ff
}
@media (max-width: 600px){
  .grid{
    display: block;
  }
}