/* ESTILOS GLOBAIS */
* {
  outline: none; 
  }

.navbar-brand, ul.nav li {
  transition: 0.4s; 
}
body {
  font-family: "PT Sans", sans-serif; 
}
  body p {
    color: #9b9b9b; 
}
h1 {
  font-size: 44px; 
}
a:hover {
  text-decoration: none; 
}
/* Header */
li.active, nav li:hover {
  border-bottom: 1px solid #f41434;
  transition: 0s; 
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent; 
}
ul.nav li {
  padding: 10px 0; 
  }
.arrow-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #fff;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: block; 
}
.banner {
  position: relative;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh; 
}
  .banner-text {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
  .banner p {
    line-height: 30px;
    margin: 25px 0;
    font-size: 17px;
    color: #fff; 
}
.navbar-default {
  background: #fff;
  margin-bottom: 0;
  border: none; 
}
.sticky {
  position: fixed;
  width: 100%;
  transition: 0.4s; 
}
#nav-stick {
  background: #fff;
  width: 100%;
  z-index: 99; 
}
.zero-padding {
  padding: 0 !important; 
}
.logo-padding {
  padding-top: 24px; 
}
a.btn-default {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 30px;
  color: #fff;
  background: #BA0000;
  border-radius: 20px;
  text-transform: uppercase; 
}
.m-bot-100 {
  margin-bottom: 100px; 
}
/* Featured Block */
.featured-item:before {
  content: '';
  position: absolute;
  height: 80%;
  width: 1px;
  background: #f41434;
  left: 0; 
}
.featured-img img {
  position: relative;
  left: -50%;
  width: 140%; 
}
.icon {
  content: '';
  position: absolute;
  height: 90%;
  width: 2px;
  left: -40px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #BA0000;
  color: #fff;
  font-size: 40px;
  float: left;
  border-radius: 50%;
  text-align: center; 
}
.featured-list {
  margin-left: 50px;
  margin-top: -20px;
  padding: 20px 0 50px; 
}
.desc {
  position: relative;
  top: -18px; 
}
  .desc h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold; 
}
  .desc p {
    font-size: 16px; 
}
/*Connection */
.testimonial {
  margin-bottom: 50px; 
}
.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
  border-left: 0 solid #e1e1e1; 
}
blockquote {
  border-left: none; 
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  background-color: #eaeaea;
  top: -1px;
  position: relative;
  left: 0; 
}
.carousel-indicators li {
  border: 1px solid #FFF;
  background-color: #ECECEC; 
}
.profile-circle img {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
ol.carousel-indicators {
  margin-bottom: -17px; 
}
.testimonial-text.text-center p {
  width: 100%;
  background: #f5f5f5;
  padding: 30px; 
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f5f5f5;
  margin: 0 auto;
  top: -11px;
  position: relative; 
}
/*Contact */
.contact-text {
  margin: 45px auto; 
}
/* Input Styles */
.form {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #e1e1e1;
  margin-bottom: 12px;
  color: #727272 !important;
  font-size: 13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; 
}
.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%; 
}
.form-btn {
  display: block;
  padding: 10px 30px;
  color: #fff;
  background: #BA0000;
  border: none;
  border-radius: 40px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto; 
}
  .form-btn:active {
    opacity: 0.9; 
}
center {
  margin-top: 330px; 
}
input {
  position: relative;
  z-index: 9999; 
}
.icones-sociais{
    text-align: center;
}
.icones-sociais li {
    display: inline-block;
}
.icones-sociais img{
    width: 64px;
    height: 64px;
    display: block;
}
/*Footer */
footer#footer {
  background: black;
  padding: 25px 0; 
}
  footer#footer p {
    color: #fff; 
}
/* RESPONSIVE CSS */
@media (min-width: 991px) {
  .featured-list {
    width: 65%; } }

@media (max-width: 767px) {
  .logo-padding {
    padding-top: 15px !important; }
  li.active, nav li:hover {
    border-bottom: 1px solid #fff;
    transition: 0s !important;
    background: #f41434;
    border-radius: 4px;
    color: #fff; }
  ul.nav a:hover, .nav .active a {
    color: #fff !important; }
  ul.nav li {
    padding: 0; } }

@media (max-width: 1300px) {
  .featured-list {
    padding: 20px 0 0; } }

@media (max-width: 991px) {
  .featured-img {
    margin-bottom: 100px; }
    .featured-img img {
      position: static;
      width: 100%; }
      .featured-img img:before {
        left: 70px;
        z-index: -1; }
  .featured-list {
    margin-top: 40px;
    margin-left: 13px;
    padding: 0; }
  .banner .banner-text {
    width: 90%; }
  .desc {
    overflow: hidden; }
  .icon {
    position: static;
    float: left;
    margin-right: 30px; }
  .featured:before {
    position: static; }
  .featured-item:before {
    left: 70px;
    z-index: -1;
    top: 10px; 
  } 
}
