/* RESPONSIVE CSS */

@media (min-width:991px){
  .featured-list {
    width: 65%;
  }
}
@media (max-width:767px){
  .logo-padding {
    padding-top: 15px !important;
  }
  li.active, nav li:hover {
    border-bottom: 1px solid $white-color;
    transition: 0s !important;
    background: $primary-color;
    border-radius: 4px ;
    color: $white-color;
  }
  ul.nav a:hover ,.nav .active a {
    color: #fff !important;
  }
  ul.nav li {
    padding:0;
  }
}
@media (max-width:1300px) {
  .featured-list {
    padding: 20px 0 0;
  }
}
@media (max-width:991px) {
  .featured-img{
    margin-bottom: 100px;
    img {
      position: static;
      width: 100%;
      &:before {
      left: 70px;
      z-index: -1;
    }
  }
}
  .featured-list {
    margin-top: 40px;
    margin-left: 13px;
    padding:0;
  }
  .banner .banner-text {
    width: 90%;
  }
  .desc {
    overflow: hidden;
  }
  .icon{
    position: static;
    float: left;
    margin-right: 30px;
  }
  .featured:before{
    position: static;
  }
  .featured-item:before {
    left: 70px;
    z-index: -1;
    top:10px;
  }
}