// Fonts Description
$font-family:  'PT Sans', sans-serif;
$font-size: 15px;
$hero-font-size:44px;
$font-weight: 400;

// Colors

$font-color: #9b9b9b;
$primary-color: #f41434;
$border-color: #e1e1e1;
$white-color:#fff;
$testimonial-bg:#f5f5f5;
$nav-collapse-bg: rgba(16, 33, 45, 0.81);
$footer-bg:black;